.justthepics-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, 150px);
    gap: 5px;
    align-items: center;
    justify-items: center;
}

.justthepics-link {
    position: relative;
}
.justthepics-size-annotation {
    /*position: absolute;*/
    left: 0;
    top: 0;
    padding: 2px;
    background: rgba(255, 255, 255, 0.5);
    color: black;
    font-size: x-small;
    letter-spacing: 0pt;
}
.video .justthepics-size-annotation{
    background-color: #dbd78f;
}


html.justthepics-image-container,
html.justthepics-image-container body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
html.justthepics-image-container body {
    overflow: auto;
    text-align: center;
}
